[Unit]
Description=AP0 device creation
BindsTo=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device
Before=hotspot.service

[Service]
Type=oneshot
ExecStart=@SBINDIR@/ap0-setup.sh ap0

[Install]
WantedBy=multi-user.target

