[Unit]
Description=Hotspot install and setup of address/password
BindsTo=NetworkManager.service
After=NetworkManager.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/nm-online -s
ExecStart=/usr/sbin/hotspot-setup.sh ap0

[Install]
WantedBy=multi-user.target


