[Unit]
Description=Hotspot install and setup of address/password
BindsTo=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device

[Service]
Type=oneshot
ExecStart=@SBINDIR@/hotspot-setup.sh ap0

[Install]
WantedBy=multi-user.target

